@media (min-width: 575px) {
  .hideit {
    display: none;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    text-align: right;
  }
}

.col-sm-3, .col-sm-4 {
  background-color: yellow;
}

.row {
  line-height: 1.8em;
}

.jumbotron {
  background-color: white;
}

button {
  padding: 2px;
  border-radius: 7px;
  line-height: 1.2em;
  background-color: lightgray;
}

button:focus{
    outline: none;
}

img {
  margin-top: 50px;
  margin-bottom: 30px;
}
